button.down {
	border: 1px solid #88f;
	background-color: #88f;
	color: white;
}
.dash-beer {
	border: 1px solid black;
}
.dash-beer .header{
	font-size: 300%;
	font-weight: bold;
}

.dash-beer .style {
	font-size: 150%;
	font-weight: bold;
}
