button.down {
	border: 1px solid #88f;
	background-color: #88f;
	color: white;
}
.taps .tap {
	border: 1px solid black;
	height: 150px;
}
.taps .tap .header{
	font-size: 300%;
	font-weight: bold;

}
.taps .tap .style {
	font-size: 150%;
	font-weight: bold;
}
